node_modules
.next
.git
.gitignore
*.md
.env.local
.env.development
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
.DS_Store

# Keep .env.prod for production builds
!.env.prod
